*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(142, 180, 167);
    padding-top: 100px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }


header{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

header img{
    height: 36px;
    margin-right: 10px;
}

header h1{
    font-size: 40px;
    font-weight: bold;
}

.container{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

form{
    display: flex;
    max-width: 640px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 56px;
}

form button{
    background-color: green;
    color: azure;
    font-size: 24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}

form input{
    font-size: 24px;
    background-color: bisque;
    border: none;
    border-bottom: 2px solid rgb(57, 64, 67);
    padding: 10px;
    border-radius: 10px;
}

table{
    width: 100%;
}

table th{
    border-bottom: 2px solid rgb(57, 64, 67);
    padding:16px;
    font-size: 24px;
    font-weight: bold;

}

table td{
    text-align: center;
    font-size: 18px;
    padding: 16px 0;
    border-bottom: 1px solid rgb(57, 64, 67);

}

table td img{
    height: 30px;
}

.resultado{
    padding: 8px;
    font-weight: bold;
    color: aliceblue;
    background-color: black;
    border-radius: 3px;
}

.aprovado{
    background-color: green;
}

.reprovado{
    background-color: rgb(128, 0, 0);
}